body{
	align-items: center;
	justify-content: center;
	background-image: url(img.png);
	background-size: cover;
	background-position: center;
	height: 160vh;
	background-repeat: no-repeat;
	margin: auto;
}



div {
    border: 5px solid black;
    border-radius: 1000px;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    transition: 1s;
}
button {
	background-color: #d4d4d4;
	color: black;
	font-size: 16px;
	border: none;
	border-radius: 20px;
	outline: none;
	display: block;

}